// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-background-color: #344fa1;
  --ion-background-color-rgb: 52,79,161;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-text-color-step-50: #f5f6fa;
  --ion-text-color-step-100: #ebedf6;
  --ion-text-color-step-150: #e1e5f1;
  --ion-text-color-step-200: #d6dcec;
  --ion-text-color-step-250: #ccd3e8;
  --ion-text-color-step-300: #c2cae3;
  --ion-text-color-step-350: #b8c1de;
  --ion-text-color-step-400: #aeb9d9;
  --ion-text-color-step-450: #a4b0d5;
  --ion-text-color-step-500: #9aa7d0;
  --ion-text-color-step-550: #8f9ecb;
  --ion-text-color-step-600: #8595c7;
  --ion-text-color-step-650: #7b8dc2;
  --ion-text-color-step-700: #7184bd;
  --ion-text-color-step-750: #677bb9;
  --ion-text-color-step-800: #5d72b4;
  --ion-text-color-step-850: #5269af;
  --ion-text-color-step-900: #4861aa;
  --ion-text-color-step-950: #3e58a6;

  --ion-background-color-step-50: #3e58a6;
  --ion-background-color-step-100: #4861aa;
  --ion-background-color-step-150: #5269af;
  --ion-background-color-step-200: #5d72b4;
  --ion-background-color-step-250: #677bb9;
  --ion-background-color-step-300: #7184bd;
  --ion-background-color-step-350: #7b8dc2;
  --ion-background-color-step-400: #8595c7;
  --ion-background-color-step-450: #8f9ecb;
  --ion-background-color-step-500: #9aa7d0;
  --ion-background-color-step-550: #a4b0d5;
  --ion-background-color-step-600: #aeb9d9;
  --ion-background-color-step-650: #b8c1de;
  --ion-background-color-step-700: #c2cae3;
  --ion-background-color-step-750: #ccd3e8;
  --ion-background-color-step-800: #d6dcec;
  --ion-background-color-step-850: #e1e5f1;
  --ion-background-color-step-900: #ebedf6;
  --ion-background-color-step-950: #f5f6fa;
}
