<div>
  <ion-col>
    <app-profile-header/>
    <app-profile-picture/>
    <app-card [title]="'Personal Info'" [editButton]="'Edit'">
      <ion-col>
        <ion-row>
          <ion-icon name="person-outline" size="large"></ion-icon>
          <ion-col>
            <p>Name</p>
            <ion-input>

            </ion-input>
          </ion-col>
        </ion-row>
      </ion-col>

      <!-- content -->
    </app-card>
    <app-card [title]="'Account Info'">
      <!-- content -->
    </app-card>
    <ion-button></ion-button>
  </ion-col>
</div>
